.nav {

    background-color: white;
    border-bottom: 1px solid black;
    width: 100%;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;

    .nav-btns {
        width: 80%;
        margin: 0 auto;
    }

}