.total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    .aside {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }
}