body {

    background-color: #f0f0f0;
}

.dashboard-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dashboard-title h1 {
    font-size: 32px;
    color: #333;
}

.chart-container .barchart {
    height: 280px;
    width: 600px;
}

.chart-container .pie-chart {
    height: 280px;

}

.chart-container {
    display: flex;
    gap: 10rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;

}