.dashboard-bugs {
    display: flex;
    justify-content: space-around;
    /* background-color: #f5f5f5; */
    background-color: #f0f0f0;
    /* padding: 20px; */
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
}



.card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card:nth-child(1) {
    background-color: rgb(247, 246, 203);
    /* color: rgb(248, 205, 118) */
}

.card:nth-child(2) {
    background-color: rgb(250, 169, 163);


}

.card:nth-child(3) {
    background-color: rgb(248, 205, 118);
}


.card:nth-child(4) {
    background-color: rgb(167, 240, 83);

}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.card-content {
    color: #333;
}